/* Reset default margin and padding */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #e7f3ff;
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    padding: 10px;
}

/* Style table cells */
td {
    padding: 10px;
}

/* Style links */
a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Style the input fields */
input[type="text"] {
    width: calc(100% - 22px); /* Full width minus padding */
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box; /* Ensure padding and width calculation */
    background-color: #cbcaca;
}

/* Style the button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px; /* Add margin between buttons */
}

.btn a {
    color: #fff;
    text-decoration: none;
}

/* Hover effect */
.btn:hover {
    background-color: #0056b3;
}


/* Style the green button */
.green-btn {
    background-color: #28a745; /* Green color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.green-btn:hover {
    background-color: #218838; /* Darker green color on hover */
}

/* Style the red button */
.red-btn {
    background-color: #de1c06; /* Green color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.red-btn:hover {
    background-color: #950303; /* Darker green color on hover */
}